{
  "mcpServers": {
    "bigquery_ai": {
      "command": "uv",
      "args": [
        "run",
        "--directory",
        "directory",
        "bq_meta_api/adapters/mcp_server.py"
      ],
      "env": {
        "PYTHONPATH": "directory"
      }
    }
  }
}