{
    "mcpServers": {
        "bq_mcp": {
            "command": "uv",
            "args": [
                "run",
                "--directory",
                "<your install directory>",
                "mcp_server"
            ],
            "env": {
                "PYTHONPATH": "<your install directory>"
            }
        }
    }
}